body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 400px;
  margin: 50px auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
 input, select {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: red;
}

input[type="submit"]:hover, button:hover {
  background-color: #45a049;
}

.otp-container {
  display: flex;
  align-items: center;
}

.otp-input {
  width: 60px;
  margin-right: 10px;
}


input, select, button {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}
